{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<header id="site-head" {{#if @blog.cover}}style="height:150px; background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h2 class="blog-title">{{@blog.title}}</h2>
            <!--<h2 class="blog-description">{{@blog.description}}</h2>-->
        </div>
    </div>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <!--<footer class="post-footer">

        </footer>-->

        {{/post}}

    </article>
    
</main>
